@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup> 
        </div>
    </section>
} 
<article>
    <h3>Experience Summary</h3>
    <ol class="round">
        <li>
            <h5>- Project Management and Sofware Life Cycle</h5>
            [Sofware Development Life Cycle <a href="http://www.techopedia.com/definition/22193/software-development-life-cycle-sdlc" target="_blank">SDLC</a>, 
              Forecasting and taxonomy,SCRUM, Sprints, BackLogs]<br />
        </li>
        <li >
            <h5>- Programming Languages</h5> 
             [C#, Java, Objective-C, C++, Visual Basic.NET, FlexBuilder, P-SQL, T-SQL, PHP]<br />
        </li>
        <li >
            <h5>- Integrated Development Environments and Frameworks, includes but not limited to</h5>
                <b>Java:</b><br />
                        [J2EE, MVC, Spring, Struts, Hibernate, Java Server Pages, Java Server Faces, Facelets, Android]<br />
                <b>.NET:</b><br />
                        [MVC.NET, ASP.NET, Windows Workflow Foundation, Windows Communication Foundation, Component Development]<br />
                <b>SQL:</b><br />
                        [DDL object creation, AWR investigation, DML script creation, Explain Plan]<br />
                <b>iOS:</b><br />
                        [Objective-C, MVC, XCode, Interface Builder]<br />            
        </li>
        <li>
            <h5>- Certifications</h5>
                •	Microsoft Certified Professional ID - <b>1017311</b> since 1998<br />  
                •	Microsoft Certified Systems Engineer - MCSE<br />  
                •	Microsoft Certified Solutions Developer - MCSD<br />  
                •	Microsoft Certified Trainer - MCT<br />
        </li>
        <li>
            <h5>- Member of the iOS/Mac and Safari Developer Programs since 2011</h5>
                •	Developer ID - <b>174054634</b> <br />  
                •	Team ID - <b>B7QMBU3EE6</b><br />              
        </li>
        <li>
            <h5>- Member of the BlackBerry Enterprise Council as of 2013</h5>
                •	Personally selected by RIM's Chief Mobility Officer to join BlackBerry's Enterprise Council
        </li>
    </ol>
</article>
<aside>
    <p>
        @ViewBag.Para <br />
        @Html.ActionLink("Contact", "Contact", "Home")
    </p>  
</aside>