<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title></title>
  <meta name="Generator" content="Cocoa HTML Writer">
  <meta name="CocoaVersion" content="2299.7">
  <style type="text/css">
    p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Helvetica}
    span.Apple-tab-span {white-space:pre}
  </style>
</head>
<body>
<p class="p1">@section featured {</p>
<p class="p1">&lt;section class="featured" &gt;</p>
<p class="p1"><span class="Apple-converted-space">    </span>&lt;div class="content-wrapper"&gt;</p>
<p class="p1"><span class="Apple-converted-space">        </span>&lt;hgroup class="title"&gt;</p>
<p class="p1"><span class="Apple-converted-space">            </span>&lt;h1&gt;@ViewBag.Title&lt;/h1&gt;</p>
<p class="p1"><span class="Apple-converted-space">            </span>&lt;h2&gt;@ViewBag.Message&lt;/h2&gt;</p>
<p class="p1"><span class="Apple-converted-space">        </span>&lt;/hgroup&gt;</p>
<p class="p1"><span class="Apple-converted-space">        </span>&lt;p&gt;@ViewBag.Para&lt;/p&gt;</p>
<p class="p1"><span class="Apple-converted-space">    </span>&lt;/div&gt;</p>
<p class="p1">&lt;/section&gt;</p>
<p class="p1">}</p>
<p class="p1">&lt;h3&gt;Description of Services:&lt;/h3&gt;</p>
<p class="p1">&lt;ol class="round"&gt;</p>
<p class="p1"><span class="Apple-converted-space">    </span>&lt;li &gt;</p>
<p class="p1"><span class="Apple-converted-space">        </span>&lt;h5&gt;Project Management&lt;/h5&gt;</p>
<p class="p1"><span class="Apple-converted-space">            </span>Project management encompasses all of the tasks necessary to ensure that the project is run effectively and efficiently to achieve the required deliverables on time and on budget. It plays an integral part in each of the milestones detailed in the following sections. &lt;br /&gt;</p>
<p class="p1"><span class="Apple-converted-space">            </span>Below are listed the primary tasks that comprise Agile Mobile Solutions Software’s project management services:&lt;br /&gt;</p>
<p class="p1"><span class="Apple-converted-space">            </span>•<span class="Apple-tab-span">	</span>Define scope and create project plan document&lt;br /&gt;</p>
<p class="p1"><span class="Apple-converted-space">            </span>•<span class="Apple-tab-span">	</span>Identify, analyze, plan for, and monitor risks&lt;br /&gt;</p>
<p class="p1"><span class="Apple-converted-space">            </span>•<span class="Apple-tab-span">	</span>Document requirements and implementation processes&lt;br /&gt;</p>
<p class="p1"><span class="Apple-converted-space">            </span>•<span class="Apple-tab-span">	</span>Plan for changes to scope and address when they arise&lt;br /&gt;</p>
<p class="p1"><span class="Apple-converted-space">            </span>•<span class="Apple-tab-span">	</span>Manage project for milestones &amp; deliverables&lt;br /&gt;</p>
<p class="p1"><span class="Apple-converted-space">    </span>&lt;/li&gt;<span class="Apple-converted-space">     </span></p>
<p class="p1"><span class="Apple-converted-space">    </span>&lt;li&gt;</p>
<p class="p1"><span class="Apple-converted-space">        </span>&lt;h5&gt;Application Design&lt;/h5&gt;</p>
<p class="p1"><span class="Apple-converted-space">            </span>Initial discussions about requirements will take place during kick-off meeting and finalized and adjusting during design phase. &lt;br /&gt;</p>
<p class="p1"><span class="Apple-converted-space">            </span>There are four main sets of requirements, user interface requirements, business requirements, technical requirements and security requirements.</p>
<p class="p1"><span class="Apple-converted-space">    </span>&lt;/li&gt;<span class="Apple-converted-space">     </span></p>
<p class="p1"><span class="Apple-converted-space">    </span>&lt;li&gt;</p>
<p class="p1"><span class="Apple-converted-space">        </span>&lt;h5&gt;Graphic Design&lt;/h5&gt;</p>
<p class="p1"><span class="Apple-converted-space">            </span>The importance of user interface design cannot be understated as how the application looks and feels has a direct impact on the user’s perception of the application and willingness to use the app on a regular basis. &lt;br /&gt;</p>
<p class="p1"><span class="Apple-converted-space">            </span>An application can provide outstanding functionality and still receive poor ratings from users if it does not look good.&lt;br /&gt;</p>
<p class="p1"><span class="Apple-converted-space">            </span>•<span class="Apple-tab-span">	</span>Provide design for user interface and user experience&lt;br /&gt;</p>
<p class="p1"><span class="Apple-converted-space">            </span>•<span class="Apple-tab-span">	</span>Consider cross platform differences and tablet/smartphone form factor&lt;br /&gt;</p>
<p class="p1"><span class="Apple-converted-space">            </span>•<span class="Apple-tab-span">	</span>Validate design with key stakeholders&lt;br /&gt;</p>
<p class="p1"><span class="Apple-converted-space">    </span>&lt;/li&gt; <span class="Apple-converted-space"> </span></p>
<p class="p1"><span class="Apple-converted-space">    </span>&lt;li&gt;</p>
<p class="p1"><span class="Apple-converted-space">        </span>&lt;h5&gt;Application Development&lt;/h5&gt;</p>
<p class="p1"><span class="Apple-converted-space">        </span>The development phase comprises all of the tasks to realize the requirements and designs previously created in a mobile application. &lt;br /&gt;</p>
<p class="p1"><span class="Apple-converted-space">        </span>The Application Configuration phase focuses on the visual, navigational, and functional aspects of the application from an end user’s perspective and typically consists of the following high level tasks:&lt;br /&gt;</p>
<p class="p1"><span class="Apple-converted-space">        </span>•<span class="Apple-tab-span">	</span>Configure application for uploading and downloading&lt;br /&gt;</p>
<p class="p1"><span class="Apple-converted-space">        </span>•<span class="Apple-tab-span">	</span>Configure app workflow and UI elements to match design&lt;br /&gt;</p>
<p class="p1"><span class="Apple-converted-space">        </span>•<span class="Apple-tab-span">	</span>Agile Mobile Solutions will perform unit testing of the configuration to verify that the application is structured appropriately from a visual perspective.&lt;br /&gt;</p>
<p class="p1"><span class="Apple-converted-space">    </span>&lt;/li&gt; <span class="Apple-converted-space"> </span></p>
<p class="p1"><span class="Apple-converted-space">    </span>&lt;li&gt;</p>
<p class="p1"><span class="Apple-converted-space">        </span>&lt;h5&gt;Quality Assurance Testing Support&lt;/h5&gt;</p>
<p class="p1"><span class="Apple-converted-space">            </span>The Customer’s QA team will create test cases based off the business requirement document and test on a sample set of devices and simulators across all desired platforms to provide a valid representation of the target user base.&lt;br /&gt;</p>
<p class="p1"><span class="Apple-converted-space">            </span>Agile Mobile Solutions implementation team will work with the QA team to address issues that arise during testing and the QA team will then sign off on the application once it is deemed ready to release to production.</p>
<p class="p1"><span class="Apple-converted-space">    </span>&lt;/li&gt; <span class="Apple-converted-space">     </span></p>
<p class="p1"><span class="Apple-converted-space">    </span>&lt;li&gt;</p>
<p class="p1"><span class="Apple-converted-space">        </span>&lt;h5&gt;Deployment Support&lt;/h5&gt;</p>
<p class="p1"><span class="Apple-converted-space">        </span>Deployment must be planned to ensure that all requirements and timelines are met and all required processes are followed. The following high level items should be considered in the deployment plan.&lt;br /&gt;</p>
<p class="p1"><span class="Apple-converted-space">            </span>•<span class="Apple-tab-span">	</span>Define deployment strategy and marketing&lt;br /&gt;</p>
<p class="p1"><span class="Apple-converted-space">            </span>•<span class="Apple-tab-span">	</span>Ensure infrastructure is correctly defined and built&lt;br /&gt;</p>
<p class="p1"><span class="Apple-converted-space">            </span>•<span class="Apple-tab-span">	</span>Follow any internal release processes to avoid last minute roadblocks&lt;br /&gt;</p>
<p class="p1"><span class="Apple-converted-space">            </span>•<span class="Apple-tab-span">	</span>Sign up for developer and distribution accounts&lt;br /&gt;</p>
<p class="p1"><span class="Apple-converted-space">            </span>•<span class="Apple-tab-span">	</span>Execute knowledge transfer/training and continuing support plan&lt;br /&gt;</p>
<p class="p1"><span class="Apple-converted-space">            </span>•<span class="Apple-tab-span">	</span>Monitor and plan growth&lt;br /&gt;</p>
<p class="p1"><span class="Apple-converted-space">            </span>•<span class="Apple-tab-span">	</span>Identify app owner and provide knowledge to support and enhance application.&lt;br /&gt;</p>
<p class="p1"><span class="Apple-converted-space">    </span>&lt;/li&gt; <span class="Apple-converted-space">         </span></p>
<p class="p1">&lt;/ol&gt;</p>
</body>
</html>
